/chipkit-cloud-wifi/JavaTcpServerMaster/target/
/chipkit-cloud-wifi/AndroidTcpClientSlave/bin/
/chipkit-cloud-wifi/AndroidTcpClientSlave/gen/
/chipkit-server-wifi/AndroidTcpClientMaster/bin/
/chipkit-server-wifi/AndroidTcpClientMaster/gen/
/chipkit-android-usb/AndroidUSBClient/bin/
/chipkit-android-usb/AndroidUSBClient/gen/

*~
