/chipkit-cloud-wifi/JavaNetworkServer/target/
/chipkit-cloud-wifi/AndroidNetworkClient/bin/
/chipkit-cloud-wifi/AndroidNetworkClient/gen/
/chipkit-android-usb/AndroidUSBClient/bin/
/chipkit-android-usb/AndroidUSBClient/gen/
/chipkit-cloud-wifi/JavaNetworkServerMaster/target/